body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#f0f0f0;
  font-family:Arial;
}

.box{
  background:white;
  padding:30px;
  border-radius:10px;
  width:300px;
}

input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

button{
  width:100%;
  padding:10px;
  background:blue;
  color:white;
  border:none;
}